name: Digestabot Dockerfiles

on:
  workflow_dispatch:
  schedule:
    - cron: "30 4 * * *"

jobs:
  digestabot:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Run Digestabot
        uses: chainguard-dev/digestabot@43222237fd8a07dc41a06ca13e931c95ce2cedac # v1.2.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
