name: Digestabot Dockerfiles

on:
  workflow_dispatch:
  schedule:
    - cron: "30 4 * * *"

jobs:
  digestabot:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run Digestabot
        uses: chainguard-dev/digestabot@a3b776c1ca57d3127c85578cde8fef6eed3c75d3 # v1.2.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
